
     * {
  box-sizing: border-box;

}
      body {
  font-family: Arial, sans-serif;

}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
}

.section {
  background-color: rgb(153, 149, 149);
  border: 4px solid rgb(255, 255, 255);
  box-sizing: border-box;
  float: left;
  padding: 10px;
  position: relative;
}

.A {
  width: 33.33%;
  box-sizing: border-box;
}

.B {
  width: 33.33%;
  box-sizing: border-box;
}

.C {
  width: 33.33%;
  box-sizing: border-box;

}
.title.chicken {
  background-color: rgb(222, 60, 214);
 
}
.title.beef {
  background-color: rgb(6, 241, 57);
}
.title.sushi {
  background-color: rgb(243, 236, 106);
}

.title {
  /* background-color: lightblue; */
  border: 1px solid black;
  /* box-sizing: border-box; */
  color: rgb(20, 16, 16);
  font-size: 1.25em;
  text-align: center;
  position:relative; 
 right: -8px;
 top: -8px;
  width: 90px;
  height: 30px;
  float: right;
  margin-left: 400px;

 
}

@media (max-width: 991px) {
  .section {
    float: left;
  }
  .A {
  width: 50%;
}

.B {
  width: 50%;
}

.C {
  margin-top: 10px;
  width: 100%;
}
}
@media (max-width: 767px) {
  .section {
    float: left;
  }
  .A {
    margin-top: 10px;
  width: 100%;
}

.B{
  margin-top: 10px;
  width: 100%;
}

.C {
  margin-top: 10px;
  width: 100%;
}
}

  